body {
	margin:0px;
	color:#ffffff;
	background:url(bg.jpg);
	}

.black12a {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.black14a {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;

	font-weight: normal;
	font-variant: normal;
	color: #000000;
}
.write12a {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
	font-weight: normal;
	font-variant: normal;
	color: #ffffff;
	
}
.write14a {
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height: 22px;
	font-weight: 600;
	font-variant: normal;
	color: #ffffff;
	
}
.hui12a {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
	font-weight: 600;
	font-variant: normal;
	color: #333333;
}
.yellow12a {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
	font-weight: normal;
	font-variant: normal;
	color: #ffa100;
}
.red13a {
	font-family: "宋体";
	font-size: 13px;
	font-style: normal;
	line-height: 22px;
	font-weight: bold;
	font-variant: normal;
	color: #CC0000;
}

.blue12a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
	font-weight: normal;
	font-variant: normal;
	color: #0D577B;
	text-indent: 24px;
}

A.link1:link {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
A.link1:active {
	COLOR: #000000;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
A.link1:visited {
	COLOR: #000000;
	TEXT-DECORATION: blink;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
A.link1:hover {
	COLOR: #000000;
	BACKGROUND-COLOR: #e2e2e2;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
A.link2:link {
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height:normal;
	font-weight:600;
    
}
A.link2:active {
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	font-family: "宋体";
    font-size: 14px;
	font-style: normal;
	line-height:normal;
	font-weight:600;
}
A.link2:visited {
	COLOR: #ffffff;
	TEXT-DECORATION: blink;
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height:normal;
	font-weight:600;
}
A.link2:hover {
	COLOR: #333333;
	BACKGROUND-COLOR: #e2e2e2;
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	line-height:normal;
	font-weight:600;
}
s
A.link3:link {
	COLOR: #e2e2e2;
	BACKGROUND-COLOR: #286382;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
}
A.link3:active {
	COLOR: #e2e2e2;
	BACKGROUND-COLOR: #286382;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
}
A.link3:visited {
	COLOR: #e2e2e2;
	BACKGROUND-COLOR: #286382;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	;
	text-decoration: none;
}
A.link3:hover {
	COLOR: #ffff00;
	BACKGROUND-COLOR: #286382;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	text-decoration: none;
}
A.link4:link {
	COLOR: #1C4262;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
A.link4:active {
	COLOR: #1C4262;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
A.link4:visited {
	COLOR: #1C4262;
	TEXT-DECORATION: blink;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}

A.link4:hover {
	COLOR: #FF9900;
	BACKGROUND-COLOR: #e2e2e2;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}
.bg {
	border-right-width: thin;
	border-left-width: medium;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: dashed;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
A.link5:link {
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
}
A.link5:active {
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
}
A.link5:visited {
	COLOR: #ffffff;
	TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
}
A.link5:hover {
	COLOR: #ffffff;
		TEXT-DECORATION: none;
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 22px;
}


body {margin:0 auto;}
/*设置大标题*/
.biaoti{
margin:auto;
text-align:center;
font-size:16px;
font-weight:bold;}
/*设置分类标题*/
.table_td_biaoti{
padding:10px 0;
font-size:14px;
font-weight:bold;
color:#A30821;
}
/*设置表格下边边框*/
.table_td_bottom td{
border-bottom:1px #ccc dashed;
padding:10px 10px;
}
/*设置表格左边边框*/
.table_td_left td{
border-left:1px #333333 dashed;
padding:0 20px;
}
/*设置表格中图片边框*/
.table_img_border img{
padding:2px;
border:1px #999 solid;
}
/*设置首行缩进*/
.text_suojin{text-indent:2em;}
/*p{text-indent:2em;}*/
.text_suojin{text-indent:2em;}
/*p{text-indent:2em;}*/
.table2{
padding:10px 0;
font-size:14px;
font-weight:bold;
color:#e2c107;
}
.hu{
font-size:14px;
line-height:30px;
}
.tab{
border-collapse:collapse;
	}